#*
#!src
#!src/*
#!src/*/*
#!src/*/*/*
#!src/*/*/*/*
#!src/*/*/*/*/*
#!src/*/*/*/*/*/*
#!src/*/*/*/*/*/*/*
#!**.java
#!tests
#!tests/*
#!tests/*/*
#!tests/*/*/*
#!tests/*/*/*/*
#!.gitignore
#!README.md
build
lib
res
build.xml
manifest.mf
TODO.txt
.classpath
.project
